/*Header*/
header {width: 100%; height: 100px; /*overflow: hidden;*/ position: fixed; top: 0; 
  left: 0; z-index: 999; background-color: rgba(255, 255, 255, 0.0); 
  border-bottom: 1px solid rgba(255,255,255, 0.2); background: rgba(0,128,0,1.0);
  -webkit-transition: height 0.3s; -moz-transition: height 0.3s; 
  -ms-transition: height 0.3s; -o-transition: height 0.3s; transition: height 0.3s; }
header #logo img { display: inline-block; height: 75px; width: 275px; 
  line-height: 150px; float: left; font-family: "Oswald", sans-serif; 
  font-size: 60px; color: white; font-weight: 400; margin-top: 15px; 
  -webkit-transition: all 0.3s; -moz-transition: all 0.3s; 
  -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
header nav {display: inline-block; float: right; }
header nav a {line-height: 115px; padding: 0px 10px; color: #fff; 
  font-weight: 400 ; font-size: 18px ; text-decoration: none; 
  -webkit-transition: all 0.3s ; -moz-transition: all 0.3s ; -ms-transition: all 0.3s; 
  -o-transition: all 0.3s ; transition: all 0.3s ; border-right: 1px dotted #abcfda; }
header nav a.last {border-right: none;}
header nav a.navLogin {border: 1px #abcfda solid; padding: 3px 15px; margin-left: 10px;
  border-radius: 3px; background: rgba(255, 255, 255, 0.2);}
header nav a.navLogin:hover {background: #008ED6; color: #fff}
header nav a:hover {color: #ffe80d;}

/*Home Page*/
.homeRow1 {background-color: rgba(192,192,192,0.7); no-repeat top center; 
  background-size: cover; width: 100%; color: #fff; background-attachment: fixed;}

.rowHeader {width: 500px; margin-right: auto; margin-left: auto;padding-top: 130px;}
.leftColumn {float: left; width: 39%; padding-left: 5px;}
.leftColumn h2 {margin-top: 25%; font-size: 3em; line-height: 1.1em; color: #002D60; font-weight: 200;}
.leftColumn h3 {color: #008ED6;}
.leftColumn p {color: #002D60;}
.rightColumn {text-align: center; float: right; width: 60%;}
.rightColumn img {width: 100; max-width: 634; height: auto;}







